/*# SOPRA 639px  */

@media screen and (min-width: 639px) {
    nav {
        width: 250px;
        padding: 20px;
        padding-bottom: 5px;
    }

    .hidden {
        display: block;
    }

    #small-logo {
        display: none;
    }

    nav img {
        height: 30px;
    }

    .navbar-bottom {
        padding: 10px 20px;
    }

    .footer {
        gap: 30px;
    }

    .left-footer h3 {
        margin-right: 30px;
    }

    .volume {
        gap: 10px;
    }

    .volume-line {
        width: 100px;
    }
}

/*# SOPRA 878px  */

@media screen and (min-width: 878px) {
    .col {
        flex-basis: 25%;
    }

    .left-footer h3 {
        margin-right: 50px;
    }
}

/*# SOPRA 1440px  */

@media screen and (min-width: 1440px) {
    .col {
        flex-basis: calc(100% / 6);
    }
}