/*! BONUS FOOTER SOTTO I 500px */

@media screen and (max-width: 500px) {
    .left-footer .folder {
        display: none;
    }


    .central-footer .fa-circle-play {
        margin: 0;
    }

    .central-footer .progress-line {
        width: calc(30px + 20vw);
    }

    .cfoot-bottom {
        gap: 10px;
    }

    .right-footer .fa-list-ul,
    .right-footer .fa-desktop {
        display: none;
    }

    .right-footer .progress-line {
        width: 40px;
    }

}


/*# SOPRA 576px  */

@media screen and (min-width: 576px) {
    .left-navbar {
        width: 250px;
        padding: 20px;
        padding-bottom: 5px;
    }

    .hidden {
        display: block;
    }

    #small-logo {
        display: none;
    }

    .left-navbar img {
        height: 30px;
    }

    .navbar-bottom {
        padding: 10px 20px;
    }

    .footer {
        gap: 30px;
    }

    .left-footer h3 {
        margin-right: 28px;
    }

    .volume {
        gap: 10px;
    }

    .volume-line {
        width: 100px;
    }

    .fa-heart {
        margin-right: 10px;
    }
}

/*# SOPRA 768px  */

@media screen and (min-width: 768px) {
    .col {
        flex-basis: 25%;
    }

    .left-footer h3 {
        margin-right: 50px;
    }

    .central-footer .fa-circle-play {
        margin: 0 30px;
    }

    .cfoot-top {
        gap: 30px;
    }

    footer {
        padding: 10px 20px;
    }

    .right-footer .progress-line {
        width: 80px;
    }
}

/*# SOPRA 1180px  */

@media screen and (min-width: 1180px) {
    .col {
        flex-basis: calc(100% / 6);
    }
}