/*Todo CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Todo Custom Properties */

:root {
    --primary-color: #7D7F84;
}


/*# Generics */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: var(--primary-color);
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

ul {
    list-style-type: none;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
}

h3 {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 0.9rem;
}

h4 {
    font-size: 0.8rem;

}

section {
    margin-top: 30px;
}

/** Utils */

/*^ Layout */

/*| ROW */
.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    padding: 5px;
    text-align: center;
}

/*| CONTAINER */

.container {
    max-width: 100%;
    margin: 0 auto;
}

/** main */

main {
    height: calc(100vh - 70px);
}

/*# LEFT NAVABAR */

nav {
    width: 50px;
    height: calc(100vh - 70px);
    background-color: #000;
    padding: 10px;

    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#big-logo {
    display: none;
}

/*# MAIN-CONTENT */

.main-content {
    flex-basis: calc(100% - 50px);
    position: relative;
}

/*^ HEADER */

header {
    background-color: #080B12;
    height: 100px;
    line-height: 100px;
    text-align: right;
    padding-right: 5px;

    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #080B12;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 20px;

}

/*^ RIGHT MAIN */

.main-content .right-main {
    padding: 20px;
    height: calc(100vh - 170px);
    overflow-y: auto;
}

.main-content .right-main ul {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    row-gap: 40px;
}

#recently>h2 {
    margin-bottom: 30px;
}

section>h4 {
    margin-bottom: 30px;
}

/** footer */

footer {
    height: 70px;
    background-color: #282828;
    color: #fff;
    font-size: 0.6rem;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*# LEFT FOOTER */

.left-footer,
.right-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 20% 0 0;
}

.left-footer>picture {
    width: 30px;
}

/*# CENTRAL FOOTER */

.central-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cfoot-top,
.cfoot-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.cfoot-top {
    font-size: 1rem;
    margin-bottom: 10px;
    gap: 25px;
}

.fa-circle-play {
    font-size: 1.6rem;
    margin: 0 20px;
}

.cfoot-bottom .volume-line {
    width: calc(1px + 30vw);
}

/*# RIGHT FOOTER */

.right-footer {
    justify-content: flex-end;
}

.volume {
    display: flex;
    gap: 10px;
}

.volume-line {
    height: 5px;
    width: 80px;
    background-color: #5A5A5A;
    border-radius: 15px;
}

.line-progress {
    height: 5px;
    width: 30px;
    border-radius: 15px;
    background-color: #C1C1C1;
}