/*Todo CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Todo Custom Properties */

:root {
    --primary-color: #7D7F84;
}

/*# Generics */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: var(--primary-color);
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

ul {
    list-style-type: none;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
}

h3 {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 0.9rem;
}

h4 {
    font-size: 0.8rem;
}

section {
    margin-top: 30px;
}

hr {
    width: 100%;
    border-color: var(--primary-color);
}

/** Utils */

.hidden {
    display: none;
}

/* Layout */

/* ROW */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    padding: 5px;
    text-align: center;
}

/* CONTAINER */

.container {
    max-width: 100%;
    margin: 0 auto;
}

/** UPPER-CONTENT */

.upper-content {
    height: calc(100vh - 80px);
    display: flex;
}

/*# LEFT NAVABAR */

.left-navbar {
    background-color: #000;
    font-size: 0.8rem;
    padding: 10px;
    position: relative;

    width: 50px;
    height: 100%;
    flex-shrink: 0;
}

/*| NAVBAR TOP */

.left-navbar .navbar-top {
    height: calc(100% - 80px);
}

/*^ LOGO */

#big-logo {
    height: 50px;
}

/*^ NAV-LIST */

.nav-list {
    height: 120px;
    margin-top: 20px;
}

.nav-list-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.nav-list-item.selected a {
    color: #fff;
}

#search,
#libreria {
    filter: brightness(0.5);
}

.nav-list-item>*,
.playlist-ul li,
.fas,
.far {
    cursor: pointer;
}

/*^ PLATLIST */

.playlist {
    height: calc(100% - 250px);
    font-weight: 600;
    margin-top: 20px;
}

.playlist .fa-plus {
    padding: 15px;
    color: #000;
    background-color: var(--primary-color);
}

.playlist-ul {
    line-height: 2.2rem;
    min-height: 100px;
    max-height: 55%;
    margin-top: 20px;
    overflow: auto;
}

/*| NAVBAR BOTTOM */

.navbar-bottom {
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin-top: 10px;
}

#download,
#profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

#download {
    padding: 0 0 5px 5px;
}

#download img {
    height: 20px;
    width: 20px;
}

#profile {
    margin-top: 7px;
}

#profile img {
    background-color: #808080;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#profile h3 {
    margin: 0;
}

/*# MAIN-CONTENT */

.main-content {
    flex-grow: 1;
    overflow: auto;
}

/*| HEADER */

header {
    background-color: rgba(8, 11, 18, 0.9);
    height: 80px;
    padding-right: 15px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #080B12;
    padding: 10px 35px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 20px;
}

/** main */

main {
    padding: 20px;
}

/*| MAIN NAVBAR */

.main-navbar ul {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    row-gap: 40px;
}

/*| SECTION */

section>h4 {
    margin-bottom: 30px;
}

#recently>h2 {
    margin-bottom: 30px;
}

#popular .card img {
    border-radius: 50%;
}

/** footer */

footer {
    height: 80px;
    background-color: #282828;
    color: #fff;
    font-size: 0.6rem;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/*| LEFT FOOTER */

.left-footer,
.right-footer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.left-footer {
    color: var(--primary-color);
    font-size: 0.9rem;
}

.left-footer picture {
    height: 50px;
    width: 50px;
    flex-shrink: 0;
}

.left-footer h3 {
    font-size: 0.7rem;
    margin: 0;
}

.left-footer h4 {
    font-size: 0.6rem;
}

.fa-heart {
    margin-right: 10px;
}

/*| CENTRAL FOOTER */

.central-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cfoot-top,
.cfoot-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.cfoot-top {
    font-size: 1rem;
    margin-bottom: 10px;
    gap: 20px;
}

.fa-circle-play {
    font-size: 1.6rem;
    margin: 0 20px;
}

.progress-line {
    height: 5px;
    width: calc(50px + 20vw);
    background-color: #5A5A5A;
    border-radius: 15px;
    cursor: pointer;
}

.line-progress {
    height: 5px;
    width: calc(50px);
    border-radius: 15px;
    background-color: #C1C1C1;
}

/*| RIGHT FOOTER */

.right-footer {
    justify-content: flex-end;
}

.volume {
    display: flex;
    gap: 5px;
}

.right-footer .progress-line {
    width: 60px;
}

.right-footer .line-progress {
    width: 30px;
}

/*@ HOVER @*/

.upper-content a:hover {
    color: #fff;
}

.btn:hover {
    transform: scale(1.1);
}


.nav-list-item>*:hover,
.playlist-ul li:hover {
    color: #fff;
}

.nav-list-item:hover #search,
.nav-list-item:hover #libreria {
    filter: brightness(1);
}

.playlist a:hover .fa-plus {
    background-color: #fff;
}

.col .card:hover img {
    filter: brightness(0.3);
}

.card {
    position: relative;
    cursor: pointer;
}

.col .card .far.fa-circle-play {
    color: #fff;
    font-size: 3rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.col .card:hover .far.fa-circle-play {
    display: block;
}

footer h4:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.left-footer .far:hover {
    color: #fff;
    cursor: pointer;
}

.fa-circle-play:hover {
    transform: scale(1.2);
}

.line-selected {
    height: 5px;
    width: 100%;
    border-radius: 15px;
    background-color: #ADFF2F;
    position: relative;
    display: none;
}

.line-selector {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px #fff;

    transform: translatey(-25%);
    position: absolute;
    right: 0;
}

.progress-line:hover .line-selected {
    display: block;
}

/*@@ AFTER/BEFORE @@*/

.nav-list-item.selected::before {
    content: '';
    height: 40px;
    border: 2px solid #ADFF2F;
    position: relative;
    right: 20px;
}

#home {
    margin-left: -10px;
}

.main-navbar ul li:first-child::after {
    content: '';
    border: 1px solid #ADFF2F;
    display: block;
    width: 30px;
    margin: 5px auto;
}

.main-navbar ul li:first-child {
    margin-bottom: -11px;
}